<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <style>
        @media screen and (max-width:600px) {

            .mobile {
                width: 100%;
            }
        }
    </style>
</head>

<body class="bg-gray-200 flex items-center text-xl ">

    <div class="w-1/2 mx-auto border-4 px-auto text-center my-10 shadow-2xl py-4 rounded-lg bg-gray-300 mobile">
        <h1 class="text-2xl py-8">Payment Status</h1>
        <ul class="py-4">
            <li class="py-2 status">Payment Status : <span id="status">
                    <%=payment.STATUS%>
                </span>
            </li>

            <li class="py-2 ">Payment Message : <p>
                    <%=payment.RESPMSG %>
                </p>
            </li>
            <li class="py-2 ">Transaction Id :<%=payment.TXNID %>
            </li>
            <li class="py-2 ">Transaction Amount : <%= payment.TXNAMOUNT%>
            </li>
        </ul>

        <span id="text" class="my-4">Don't Close or Refresh the page</span>
        <br />

        <p class="pb-4">Page will automatically redirect in <span id="countdown">10</span> seconds.</p>
    </div>

    <script>




        var max_time = 10;
        var cinterval;

        function countdown_timer() {
            // decrease timer
            max_time--;
            document.getElementById('countdown').innerHTML = max_time;
            if (max_time == 0) {
                clearInterval(cinterval);
            }
        }
        // 1,000 means 1 second.
        cinterval = setInterval('countdown_timer()', 1000);

        let status = document.getElementById('status').innerHTML

        setTimeout(() => {
            window.location.replace('/cart')
        }, 8000);
        

    </script>
</body>

</html>