.categoryNeo {
  border-radius: 100%;
  box-shadow: -5px 5px 10px #8d8686, 5px -5px 10px #ffffff;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .swiper-width-height {
    height: 4rem;
    width: 4rem;
  }

  .swiper-h4-size {
    font-size: 10px;
  }

  .swiper-h3-size {
    font-size: 10px;
  }

  .swiper-category-margin {
    margin: -2px 0;
  }

  .m-m-top-24 {
    margin-top: 24px;
  }
  .m-h-8-5rem {
    height: 9rem;
  }
}
